@define-color background #2e3440;
@define-color foreground #eceff4;
@define-color module #3b4252;
@define-color active #5e81ac;
@define-color urgent #b74e58;
@define-color warning #e7c173;

* {
	border: none;
	border-radius: 0;
	min-height: 10px;
	font-size: 12px;
	font-weight: bold;
	font-family: monospace;
	color: @foreground
}

window#waybar {
	background-color: transparent;
}

tooltip {
	padding: 2px;
	border-radius: 5px;
}

tooltip,
.modules-right,
.modules-center,
#mode,
#tray * {
	background-color: @module;
}

.modules-right {
	border-bottom-left-radius: 5px;
}
.modules-right * {
	margin: 0 7.5px;
}

#indicators *,
.modules-right * {
	min-width: 12px;
}

#mode,
.modules-center {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.modules-center {
	padding: 0 10px;
}

#mode {
	padding: 5px 10px;
	margin-left: 10px;
}

#mode.normal,
#custom-recording:not(.active) {
	opacity: 0;
}

#custom-dnd,
#privacy-item,
#custom-recording {
	margin-left: 10px;
	padding: 0 5px;
}

#tags button {
	all: initial;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 9px;
	background-color: @background;
}
#tags button:not(.occupied) {
	opacity: 0.5;
}
#tags button.focused {
	opacity: 1;
	background-color: @module;
	box-shadow: inset 0 -5px @active;
}

#tags button.urgent,
#privacy-item,
#custom-recording {
	box-shadow: inset 0 -5px @urgent;
}
