@define-color background #2e3440;
@define-color foreground #eceff4;
@define-color module #3b4252;
@define-color active #5e81ac;
@define-color urgent #b74e58;
@define-color warning #e7c173;

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	border-radius: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: monospace;
}

window#waybar {
	color: @foreground;
	background-color: transparent;
}

#mode,
#tags button,
#window,
#clock,
#privacy,
#custom-recording,
#custom-dnd,
#tray,
#mpris,
#wireplumber,
#bluetooth,
#network,
#battery,
#custom-days {
	background-color: @module;
	padding: 7px 10px;
}

#tags button {
	background-color: @background;
	padding-left: 4px;
	padding-right: 4px;
}
#tags button.focused {
	background-color: @module;
	box-shadow: inset 0 -5px @active;
}

#tags button.urgent,
#privacy,
#custom-recording {
	box-shadow: inset 0 -5px @urgent;
}

#tray,
#mpris,
#privacy,
#custom-dnd,
#custom-recording {
	margin-right: 14px;
}

#mode,
#tray,
#mpris,
#custom-dnd,
#clock.time {
	border-bottom-right-radius: 5px;
}

#mode,
#tray,
#mpris,
#custom-dnd,
#wireplumber,
#clock.date {
	border-bottom-left-radius: 5px;
}

#mode {
	margin-left: 14px;
}
#mode.normal {
	opacity: 0;
}

#clock.time {
	padding-left: 5px;
}
#clock.date {
	padding-right: 5px;
}

#battery.warning:not(.charging) {
	color: @warning;
}
#battery.critical:not(.charging) {
	color: @urgent;
}
